{% extends "base.html" %}

{% block title %}Blog - Monique Sierra{% endblock %}

{% block content %}
<section id="about" data-aos="fade-up" class="content-wrapper">
  <div class="intro-container">
    <h2>It's like we're chatting but I just don't stop</h2>
    <p>Data projects, code experiments, and occasional rambling about tea.</p>
  </div>
</section>

<section class="content-wrapper">
  <div class="project-grid-compact">
    {% for post in posts %}
    <a href="/blog/{{ post.id }}" class="project-tile" data-aos="fade-up">
      <span class="project-date">{{ post.date }}</span>
      <h3>{{ post.title }}</h3>
      <p>{{ post.description }}</p>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}