{% extends "base.html" %}

{% block title %}Contact - Monique Sierra{% endblock %}

{% block content %}

<section id="about" data-aos="fade-up" class="content-wrapper">
  <div class="intro-container">
    <h2>hey buddy</h2>
    <p>Your delicate, little online footprint made its way to my heart... don't be a stranger.</p>
  </div>
</section>

<section class="content-wrapper" id="contact-form" data-aos="fade-up">
  <h2>Send Me a Note</h2>

  <form action="https://formspree.io/f/xgvyryjp" method="POST">
    <label for="name">Your Name</label><br>
    <input type="text" id="name" name="name" required><br><br>

    <label for="email">Your Email</label><br>
    <input type="email" id="email" name="_replyto" required><br><br>

    <label for="message">Your Message</label><br>
    <textarea id="message" name="message" rows="6" required></textarea><br><br>

    <button type="submit">Send Message</button>
  </form>
</section>

<div class="resume-download content-wrapper" style="text-align: center; margin-top: 2rem;">
  <a href="{{ url_for('static', filename='docs/SierraResume25.pdf') }}" download class="resume-link">
    <i class="fas fa-download"></i> grab my resume on the way out
  </a>
</div>
{% endblock %}